.searchInput {
    width: 40%;
    min-width: 200px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 0 10px 2rem;
    background-color: var(--aqua-color);
    font-size: 1.2rem;
}

.searchIcon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 5px;
    background: url(../../assets/search.png) no-repeat ;
    background-size: cover;
}

.cityList {
    display: flex;
}

.innerCityList {
    display: flex;
    gap: 2rem;
    padding: 10px 1rem 10px 0;
    max-width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    transition: all 0.5s;
}

.loadingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--width-size);
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(156, 156, 156, 0.1);
}

.addSity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: var(--width-size);
    height: var(--width-size);
    background-color: var(--aqua-color);
    margin: 10px 0 0 1rem;
}

.fromTo {
    color: #9c9c9c;
}

.buttons {
    display: flex;
    gap: 1rem;
    & button {
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        background-color: var(--aqua-color);
    }
}

.searchBlock {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search {
    font-size: 1.2rem;
    & select {
        font-size: 1.1rem;
        outline: none;
        padding: 5px 10px 5px 5px;
        color: #9c9c9c;
        border: none;
    }
}

