.container {
    display: flex;
    max-width: 1600px;
    height: 100dvh;
    margin: 0 auto;
}

.mainSection {
    --width-size: 200px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    width: 65%;
    & p {
        font-size: 1.4rem;
    }
}









