.container {
    position: relative;
    display: flex;
    max-width: 1600px;
    height: 100dvh;
    margin: 0 auto;
}

.mainSection {
    --width-size: 200px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    width: 65%;
    & p {
        font-size: 1.4rem;
    }
}

.login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    top: 1rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: #35cfda;
    clip-path: circle(50%);
}









