.searchInput {
    width: 40%;
    min-width: 200px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 0 10px 2rem;
    background-color: #e6f7ff;
    font-size: 1.2rem;
}

.searchIcon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 5px;
    background: url(../../assets/search.png) no-repeat ;
    background-size: cover;
}

.cityList {
    display: flex;
}

.innerCityList {
    display: flex;
    gap: 2rem;
    padding: 10px 1rem 10px 0;
    max-width: 100%;
    overflow-y: auto;
}

.loadingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--width-size);
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(156, 156, 156, 0.1);
}

.addSity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: var(--width-size);
    height: var(--width-size);
    background-color: #e6f7ff;
    margin: 10px 0 0 1rem;
}

.tripCity {
    display: flex;
    flex-direction: column;
    min-width: var(--width-size);
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(156, 156, 156, 0.1);
}

.tripDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    font-size: 0.8rem;
    padding: 5px;
    max-width: 150px;
}

.fromTo {
    color: #9c9c9c;
}

.cityImage {
    width: 100%;
    max-width: var(--width-size);
    min-height: var(--width-size);
    & img {
        width: 100%;
        height: 100%;
    }
}

.selected {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: var(--width-size);
    border-radius: 3px;
    box-shadow: 0 0 5px 3px rgba(35, 10, 179, 0.1);
    & .cross {
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 1.2rem;
        color: red;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}

.buttons {
    display: flex;
    gap: 1rem;
    & button {
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        background-color: #e6f7ff;
    }
}

.searchBlock {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search {
    font-size: 1.2rem;
    & select {
        font-size: 1.1rem;
        outline: none;
        padding: 5px 10px 5px 5px;
        color: #9c9c9c;
        border: none;
    }
}

